@media only screen and (min-width: 600px){
	.caixa {
		max-width: 960px;
		margin: 0 auto;
		display: block;
	}

	.esquerda-caixa {
		float: left;
		display: block;
		max-width: 310px;
	}

	.esquerda {
		margin-left: 10px;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		padding-bottom: 5px;
	}

	img {
		width: 100%;
	}

	.nome h1 {
		font-size: 32px;
		text-indent: 10px;
		width: auto;
		margin-top: -49px;
		background: white;
		opacity: 0.5;
	}

	.titulo {
		font-size: 28px;
		padding-left: 10px;
		margin-top: 5px;
	}

	/* */
	.centro-direito-caixa {
		width: 100%;
	}

	.centro-direito {
		max-width: 600px; 
		float: left;
		margin-left: 10px;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}

	.centro-direito .medesc {
		width: 100%;
		padding: 5px 5px 5px 5px;
		margin: 0 0 5px 0;
	}
}